.container {
  height: 100vh;
  max-width: 992px;
  margin: 0 auto;
  padding: 2.5rem 2rem;

  display: flex;
  flex-direction: column;
}

.container section {
  flex: 1;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 6.25rem;
  align-content: center;
}

@media (max-width: 720px) {
  .container section {
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr;
    padding: 50px 0;
  }
  .container section > div {
    justify-self: center;
    width: min(500px, 86vw);
  }
}
